{% extends "layout.html" %}

{% block main %}
    <form action="/change-password" method="post">
        <div class="form-group">
            <input name="old_password" class="form-control" type="password" placeholder="Current Password" required>
        </div>
        <div class="form-group">
            <input name="new_password" class="form-control" type="password" placeholder="New Password" required>
        </div>
        <div class="form-group">
            <input name="confirmation" class="form-control" type="password" placeholder="Confirm New Password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
